{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}
    <!--{% include 'main/nav.html'%}-->

<!--#Конечно! Вот пример текста для первой страницы вашего проекта на Django,-->
<!--который может служить приветствием и кратким описанием вашего сайта:-->

<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать на сайт {{caption}}!</h1>
    <p class="lead">Это ваш первый проект на Django, и мы рады видеть вас здесь.</p>
    <hr class="my-4">
    <p>HareDjango - это место, где вы можете найти полезную информацию, делиться идеями и учиться новому каждый день.</p>
    <p>Исследуйте наш сайт, чтобы узнать больше о наших функциях и возможностях.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
</div>
    {% include 'main/footer.html'%}
{% endblock %}


<!--#Этот код использует шаблонный язык Django для расширения базового шаблона (`base_generic.html`)-->
<!--и добавляет блок контента с приветственным сообщением. Использование Bootstrap классов помогает-->
<!--создать привлекательный и современный дизайн.-->
